{% extends 'base.html' %}
<div class="container">
    <div>
    <form action="{% url 'search' %}" method="get">
    <input type="text" name="q">
    <button type="submit">Search</button></form>
    </div>
    
{% block content %}
<div class="welcome row">
<h1 class="col-12">Hello! and welcome to our Site</h1>
<h2 class="col-12">We are so happy that you have decided to visit us.</h2>
<h4 class="col-12">Please take your time and have a look at all our uniquely designed products.</h4>
<p class="col-12">All our products have been designed specifically for their purpose. <br>Our products are different, affordable and come with
    shipping included.  <br>We hope you enjoy your visit and if you have any questions or queries please don't hesitate to <a class="nav-link active btn-purple" href="{% url 'contact_us' %}"><i class="fa fa-comment-o"></i> Contact Us</a></p>

</div>
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>Click <a href="{{ product.link }}" target="blank">here</a>  to see product video</p>
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
</div>
